:root {}

body {
  margin: 0;
  box-sizing: border-box;
}

.button-circle {
  border-radius: 100%;
}


#root {
  display: grid;
  height: 100svh;
  min-width: 600px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 20% 1fr;
  grid-template-areas:
    'algo      fitfun'
    'add-algo  add-fitfun'
    'results   results';
}

#selectAlgo {
  grid-area: algo;
}

#addAlgo {
  grid-area: add-algo;
}

#addFitFun {
  grid-area: add-fitfun;
}

#selectFitFun {
  grid-area: fitfun;
}

#parameters>input {
  width: 4em;
  margin: 0 5px;
}


#results {
  grid-area: results;

}

#helpButton {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: .5em 1em;

  color: var(--pantone);

  font-weight: bold;
  font-size: 1.5em;

}