:root {
  --b-radius-small: 5px;
  --b-radius-med: 10px;
  --b-radius-big: 20px;
  --cp-yellow: #F3E600;
  --cp-red:#fc012a;
  --cp-blue:#00f0ff;

  --theme-primary-color: #F3E600;
  --theme-secondary-color: #00f0ff;
  --theme-pprimary-color:#fc012a; 
  --text-color:white;
  --text-color-dimmed:darkgray;
  --shadow:rgba(10,10,10,.5);

  --main-bg-color:#1a1a1a;
  --second-bg-color:#222323;

  background-color: var(--main-bg-color);
}

/* @media (prefers-color-scheme: light) {
  :root {
    --theme-primary-color: #F3E600;
    --theme-secondary-color: #00f0ff;
    --theme-trimary-color:#fc012a; 
    --text-color:black;
    --text--color-dimmed:gray;

    --main-bg-color:white;
    --second-bg-color:#eee;
  }

} */
body {
  margin: 10px;
  box-sizing: border-box;
  font-size: 1em;
}
dialog {
  max-width: 50dvw;
  border-radius: 10px;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

button {
  border-radius: var(--b-radius-med);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--theme-secondary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button{
  color: var(--cp-blue);
}
button:disabled,
input:disabled{
  color: var(--text--color-dimmed);
  cursor:not-allowed;
}
button:disabled:hover{
  border-color: transparent;
}

dialog {
  max-width: 50dvw;
  border-radius: 10px;
  padding: 50px;
  border-color: var(--theme-primary-color);
}
p{
  margin: 0;
}
.error{
  color: var(--cp-red) !important;
}
.info{
  color: var(--cp-blue) !important;
}
input:not([type="number"]), select{
  font-size: 1rem;
}
.button-circle {
  border-radius: 100%;
}

.notification{
  position: absolute;
  width: fit-content;
  border-radius: var(--b-radius-small);
  border-bottom-left-radius: 0;
  padding: 2px 5px;
  
  box-shadow: 2px 2px 3px var(--shadow);

  background: var(--theme-primary-color);
  border: 1px solid var(--main-bg-color);
  color: var(--main-bg-color);
  font-weight: 600;

  z-index: 999;
}

.notification.good{
  background: lime;
}
.notification.bad{
  background: var(--cp-red);
  color: white !important;
}



#root {
  --gap: 10px;
  display: grid;
  min-width: 600px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas:
    'add-algo   add-fitfun   restore'
    'algo       fitfun       run'
    'results    results      results';
  gap: var(--gap);
  overflow: auto;
}


.section {
  background-color: var(--second-bg-color);
  border-radius: var(--b-radius-med);
  padding: 20px 30px;

  font-size: 1.1rem;
  /* clip-path: polygon(10% 0%, 100% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 100%, 0% 20%); */
  overflow: hidden;
}
.sectionTitle{
  font-size: 1.5rem;

  color: var(--text--color-dimmed);
  background-color:var(--second-bg-color);
  box-shadow: 0 0 0 20px var(--second-bg-color);

  position: sticky;
  top: 0;
}


.section hr{
  border-color: var(--theme-primary-color);
  box-shadow: 0px 0px 5px 0px var(--theme-primary-color);
  margin-left: -30px;
  margin-right: -30px;

  position: sticky;
  top: 2.8rem;
}
#selectAlgorithm {
  grid-area: algo;
}
#selectAlgorithm>.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#addAlgorithm {
  grid-area: add-algo;
}
input[type="file"]{
  display: block;
  margin: 20px 0 ;
}
#addAlgorithm label>*,#addFitFun label>*{
  margin-right: 10px;
}
#addFitFun {
  grid-area: add-fitfun;
}

#selectFitFun {
  grid-area: fitfun;
  max-height: 300px;
  overflow-y: auto;
}
#selectFitFun .wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#selectFitFun form{
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items:first;
}
#selectFitFun form>div>label{
  margin-right: 15px;
}
#selectFitFun form>div>:not(label){
  width: 65%;
}
#selectFitfunButton{
  border-radius: 10px;
  margin: 0 10px;
  width: 70%;
  align-self: flex-end;
}

#parameters{
  display: flex;
  justify-content: space-around;
}
.desc{
  display: block;
  margin-bottom: 5px;
}
#parameters>label{
  display: block;
  text-align:center;
  font-style: italic;
  font-size: .8rem;
}
#parameters>label>input {
  width: 3em;
  margin: 0 5px;
}
#sectionStart{
  grid-area: run;
}
#sectionStart .wrapper{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#sectionStart .wrapper>:nth-child(2){
  align-self: center;
  justify-self: center;
  text-align: center;
}

#sectionStart label{
  display: block;
  width: 180px;
  margin: 10px 0;
}
#sectionStart label>input{
  width: 4em;
  float: right;

  
}
#sectionStart #startButton, #addQueueButton{
  background-color: var(--second-bg-color);
  border: 5px solid var(--main-bg-color);
  margin: auto;
}
#sectionStart #startButton:not(:disabled):hover, #addQueueButton:hover{
  text-shadow: 0px 0px 5px var(--theme-secondary-color);
}

#sectionRestore{
  grid-area: restore;
}

#results {
  grid-area: results;
}

#helpButton {
  position: absolute;
  bottom: 10px;
  right: 10px;

  padding: .5em 1em;

  /* color: var(--theme-primary-color); */
  background-color: var(--second-bg-color);

  font-weight: bold;
  font-size: 1.5em;

  outline: var(--gap) solid var(--main-bg-color);
}